/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/componentes/general/EmployeesCard/EmployeesCard.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.EmployeesCard_employees__card__YB_df {
  width: 40rem;
  height: 20rem;
  padding: 2rem 4rem;
  box-shadow: 10px 10px 56px -4px rgba(0, 0, 0, 0.18);
  border-radius: 2rem;
}
.EmployeesCard_employees__card__YB_df span {
  font-weight: 500;
  font-size: 1.4rem;
}
.EmployeesCard_employees__card__YB_df p {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}
.EmployeesCard_employees__text__eleLS {
  display: flex;
  justify-content: space-between;
}
.EmployeesCard_employees__id__Ye3Bn p {
  display: none;
}
.EmployeesCard_employees__main__BtBYC {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.EmployeesCard_employees__main__BtBYC h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.EmployeesCard_employees__main__BtBYC > p {
  padding: 0.3rem 1rem;
  background-color: #7e50b4;
  border: 0.1rem solid #6916ca;
  font-weight: 600;
  border-radius: 1rem;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
.EmployeesCard_employees__buttons__rAQeX {
  display: flex;
  background-color: transparent;
  border-radius: 1rem;
  margin-top: 1rem;
  gap: 1rem;
  text-align: center;
}
.EmployeesCard_employees__buttons__rAQeX div:first-of-type, .EmployeesCard_employees__buttons__rAQeX div:last-of-type {
  width: 50%;
  text-align: center;
  background-color: #6916ca;
  border-radius: 1rem;
}
.EmployeesCard_employees__buttons__rAQeX div button {
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  font-weight: 500;
}
.EmployeesCard_employees__buttons__rAQeX div button:hover {
  background-color: #7e50b4;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/componentes/general/Loading/Loading.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Loading_loading__o5cWv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 5rem 1rem;
}
.Loading_loading__load__i0Mj7 {
  border: 1rem solid #f3f3f3;
  border-top: 1rem solid #6916ca;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: Loading_spin__u7_LK 2s linear infinite;
}

@keyframes Loading_spin__u7_LK {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/componentes/general/Logout/Logout.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@media only screen and (min-width: 801px) {
  .Logout_mobile-only__m9boz {
    display: none !important;
  }
}

@media only screen and (max-width: 800px) {
  .Logout_desktop-only__4r6As {
    display: none !important;
  }
}

@keyframes Logout_moveUpDown__fdCvZ {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
}
.Logout_header__logout__wdqBS {
  position: relative;
}
.Logout_header__logout__wdqBS svg {
  width: 2rem;
  height: 2rem;
}
.Logout_header__confirm__qfxPp {
  position: absolute;
  top: 3.5rem;
  right: 50%;
  width: 15rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 56px -4px rgba(0, 0, 0, 0.18);
  text-align: center;
  transition: 2s ease-in-out;
}
@media only screen and (max-width: 800px) {
  .Logout_header__confirm__qfxPp {
    top: -2rem;
    left: 4rem;
  }
}
.Logout_header__confirm__qfxPp > p {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.5rem;
}
.Logout_header__buttons__MTiEF {
  display: flex;
  justify-content: space-evenly;
}
.Logout_header__buttons__MTiEF > button {
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 600;
}
.Logout_header__buttons__MTiEF > button:first-of-type {
  background-color: #8bf42b;
}
.Logout_header__buttons__MTiEF > button:last-of-type {
  background-color: #f74236;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/componentes/general/Header/Header.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@media only screen and (min-width: 801px) {
  .Header_mobile-only___d5GQ {
    display: none !important;
  }
}

@media only screen and (max-width: 800px) {
  .Header_desktop-only__jU84E {
    display: none !important;
  }
}

@keyframes Header_moveUpDown__oCkjV {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
}
.Header_header__TZB4U {
  background-color: #6916ca;
  width: 100%;
}
.Header_header__logo__3Kz9j img {
  width: 13rem;
  height: auto;
}
.Header_header__wrapper__gMbPx {
  padding: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header_header__nav__udRHV {
  display: flex;
  list-style: none;
  gap: 2rem;
}
@media only screen and (max-width: 800px) {
  .Header_header__nav__udRHV {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #6916ca;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    -webkit-clip-path: circle(100px at 90% -15%);
            clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    pointer-events: none;
  }
  .Header_header__nav__udRHV[data-show=true] {
    -webkit-clip-path: circle(1500px at 90% -15%) !important;
            clip-path: circle(1500px at 90% -15%) !important;
    pointer-events: all !important;
  }
  .Header_header__nav__udRHV[data-show=true].Header_header__nav__udRHV {
    position: fixed;
    top: 1.6rem;
    right: 1.6rem;
    border-top-color: transparent;
  }
  .Header_header__nav__udRHV[data-show=true].Header_header__nav__udRHV::before {
    transform: rotate(135deg);
  }
  .Header_header__nav__udRHV[data-show=true].Header_header__nav__udRHV::after {
    transform: rotate(-135deg);
    top: -0.7rem;
  }
}
.Header_header__nav__udRHV li a {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  padding: 1rem;
  border-radius: 1rem;
}
.Header_header__nav__udRHV li a[data-current=true] {
  background-color: #470098;
}
.Header_header__nav__udRHV li a:hover {
  border-bottom: 0.1rem solid #fff;
}
.Header_header__hamburguer__eK_Kq {
  border: none;
  background: none;
  border-top: 0.3rem solid #fff;
  cursor: pointer;
  display: none;
  z-index: 999;
}
@media only screen and (max-width: 800px) {
  .Header_header__hamburguer__eK_Kq {
    display: block;
  }
}
.Header_header__hamburguer__eK_Kq::before, .Header_header__hamburguer__eK_Kq::after {
  content: " ";
  display: block;
  width: 3rem;
  height: 0.3rem;
  background: #fff;
  margin-top: 0.5rem;
  position: relative;
  transition: 0.3s;
}
.Header_header__hamburguer__eK_Kq[data-animate=true] {
  position: fixed;
  top: 2.9rem;
  right: 4.9rem;
  border-top-color: transparent;
}
.Header_header__hamburguer__eK_Kq[data-animate=true]::before {
  transform: rotate(135deg);
}
.Header_header__hamburguer__eK_Kq[data-animate=true]::after {
  transform: rotate(-135deg);
  top: -7px;
}
.Header_header__user__2fhV7 {
  width: 3rem;
  height: auto;
}
@media only screen and (max-width: 800px) {
  .Header_header__user__2fhV7 {
    display: none;
  }
}
@media only screen and (min-width: 800px) {
  .Header_header__userMobile__mUds9 {
    display: none;
  }
}
