.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 5rem 1rem;

  &__load {
    border: 1rem solid #f3f3f3;
    border-top: 1rem solid #6916ca;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
