@import "../../../assets/sass/utilities/utilities";
.homepage {
  &__contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    padding: 2rem;

    @include max(800) {
      height: calc(100vh - 6.8rem);
    }
    & > h1 {
      max-width: 60rem;
      text-align: center;
      font-weight: 400;
      font-size: 2.7rem;
      margin-bottom: 2rem;
      margin-top: 2rem;

      @include max(800) {
        font-size: 2rem;
      }

      & span {
        color: #6916ca;
      }
    }

    & img {
      width: 50rem;
      height: auto;

      @include max(800) {
        width: 25rem;
      }
    }
  }
}
