/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src/assets/fonts/index.ts","import":"","arguments":[{"src":"./Inter/Inter-VariableFont.ttf","variable":"--font-inter","display":"fallback"}],"variableName":"inter"} ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__inter_a36af4';
src: url(/_next/static/media/11bf447c34a2180c-s.p.ttf) format('truetype');
font-display: fallback;
}@font-face {font-family: '__inter_Fallback_a36af4';src: local("Arial");ascent-override: 90.00%;descent-override: 22.43%;line-gap-override: 0.00%;size-adjust: 107.64%
}.__className_a36af4 {font-family: '__inter_a36af4', '__inter_Fallback_a36af4'
}.__variable_a36af4 {--font-inter: '__inter_a36af4', '__inter_Fallback_a36af4'
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/assets/sass/utilities/wordpressCompatibility.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.alignright {
  float: right;
  margin-left: 2rem;
}

.alignleft {
  float: left;
  margin-right: 2rem;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/assets/sass/main.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
  font-family: var(--font-inter);
}

main {
  position: relative;
}
main:not(:has(section)) {
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 0;
}

input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 0;
  outline: none;
  border: none;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s ease-in-out opacity;
}
a:hover {
  opacity: 0.8;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #6916ca;
  border-radius: 10px;
}
